* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: black;
    text-align: center;
}

header img {
    max-width: 150px;
    max-width: 150px;
}

footer {
    width: 100%;
    font-size: 12px;
    bottom: 0;
    position: fixed;
    text-align: center;
}

#content_cards {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    padding-top: 10%;
    margin: auto;
}

/* --- CARD --- */

.card {
    max-width: 260px;
    height: auto;
    padding: 10px;
}

.card img {
    max-width: 250px;
    height: auto;
    transition: .3s;
}

.card img:hover {
    max-width: 255px;
    height: auto;
}

/* --- CARD MODAL--- */
.card_modal {
    max-width: 100%;
    height: 90%;
    padding: 10px;
}

.card_info {
    display: flex;
}

.card_info img {
    max-width: 250px;
    max-height: 550px;
    margin-right: 30px;
}

.card_info h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 40px;
}

.card_info p {
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 40px;
}

#modal_btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25%;
}

#voltar,
#enviar {
    width: 150px;
    height: 45px;
}

#voltar {
    background-color: rgba(0, 0, 0, 0.795);
    border: none;
    color: var(--color-02);
}

#enviar {
    background-color: rgba(218, 17, 17, 0.685);
    border: none;
    color: var(--color-03);
}


:root {
    --color-01: red;
    --color-02: gray;
    --color-03: white;
}

/* --- MODAL ---*/
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.281);
}

dialog {
    border: none;
    width: 50%;
    height: 60%;
    margin: auto;
    background-color: transparent;
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(235, 17, 35, 0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(235, 17, 35, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(235, 17, 35, 0.5);
}


/* GOOGLE MAPS */
#map {
    height: 500px;
    width: 500px;
    background: #ddd;
}